html {
    background-image: url("https://cdn.onebauer.media/one/empire-tmdb/films/7453/images/lALaxxUVJoZMeRcW3HfvG7QoDua.jpg?format=jpg&quality=80&width=960&height=540&ratio=16-9&resize=aspectfill");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 100%;
    
}

h1 {

text-align: center;
font-family: 'BioRhyme Expanded', serif;
background-color: aqua;

}

#gameboard {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    background-color: black;
    width:  750px;
    height: 610px;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
          
}

body{

}

#board {
    border-radius: 50%;
    background-color: rgb(212, 37, 37);
    border: 5px solid black;
    outline: 10px whitesmoke;
    /* box-sizing: border-box; */
    align-content: center;
}
#board:hover {
    background-color: rgb(94, 243, 213);
    


}
section {



}

button {
       text-align: center;
       margin: auto 

    }
