h1 {
border-radius: 50%;
text-align: center;


}

.gameboard {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    background-color: black;
    width:  750px;
    height: 610px;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    
    
    
    
}


section{
background-color: blue;


}

.board {
    border-radius: 50%;
    background-color: rgb(212, 37, 37);
    border: 5px solid black;
    outline: 10px whitesmoke;
    box-sizing: border-box;
    align-content: center;
}
.board:hover {
    background-color: rgb(94, 243, 213);



}